﻿@model SmartGarage.Services.Models.VehicleModelDTO
@using SmartGarage.Web.Models
@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<div class="container mt-3">
    <h1>Create</h1>

    <h4>Model</h4>
    <hr />
    <div id="messgePartialModel">
        <partial name="_MessagePartial" model="new MessagePartial()" />
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Model</label>
                <input id="Modelname" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="createModelButton" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


