﻿@model SmartGarage.Services.Models.ManufacturerDTO
@using SmartGarage.Web.Models
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery
@{
    ViewData["Title"] = "CreatePopUp";
    Layout = null;
}
<div class="container mt-3">
    <h1>Create</h1>

    <h4>Manufacturer</h4>
    <hr />
    <div id="messgePartial">
        <partial name="_MessagePartial" model="new MessagePartial()"/>
    </div>
    <div class="row">
        <div class="col-12">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Manufacturer</label>
                    <input id="name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="createButton" type="submit" value="Create" class="btn btn-primary" />
                </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


