﻿@model SmartGarage.Services.Helpers.Pager<UserDTO>
@using SmartGarage.Services.Models;

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Last visit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(i => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(i => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(i => item.LastVisit)
                </td>
                <td>
                    <a asp-controller="Vehicles" asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-success" title="Add Vehicle"><i class="fas fa-car"></i></a>
                    <a asp-controller="Visit" asp-action="AddVisitToCustomer" asp-route-id="@item.Id" class="btn btn-outline-success" title="Add Visit"><i class="fas fa-warehouse"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary" title="Edit"><i class="far fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info" title="Details"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" title="Delete"><i class="far fa-trash-alt"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PrevPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a href="#" id="prev" class="btn btn-default @prevDisabled">
    Previous
</a>
@if (Model.TotalPages == 0)
{
    <a>No results</a>
}
else
{
    <a> @Model.Page / @Model.TotalPages</a>
}

<a href="#" id="next" class="btn btn-default @nextDisabled">
    Next
</a>

<input id="pageNum" hidden value="@Model.Page" />