﻿@model SmartGarage.Web.Models.MessagePartial
@{
    Layout = null;
}
<div class="text-center">
    @{
        if (Model.Message == null)
        {

        }
        else if (Model.GoodOrBad)
        {
            <div class="alert alert-success" role="alert">
                <p>@Model.Message</p>
            </div>

        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <p>@Model.Message</p>
            </div>
        }
    }
</div>
