﻿@model SmartGarage.Services.Helpers.Pager<VisitDTO>
@using SmartGarage.Services.Models;

<style>
    th:hover {
        cursor: pointer;
    }
</style>

<div class="container-all">
    @{
        <table class="table table-striped">
            <thead>
                <tr>
                    @if (User.IsInRole("Employee"))
                    {
                        <th onclick="sortTable(0)">Customer</th>
                    }
                    <th onclick="sortTable(1)">Vehicle</th>
                    <th onclick="sortTable(2)">Date</th>
                    <th onclick="sortTable(3)">Status</th>

                    <th>
                        @if (User.IsInRole("Employee"))
                        {
                            <a asp-action="Create" class="btn-sm btn-success" title="Create new"><i class="far fa-plus-square"></i></a>
                        }

                    </th>
                </tr>
            </thead>
            <tbody id="myTableBody">
                @foreach (var item in Model.Items)
                {
                    <tr>
                        @if (User.IsInRole("Employee"))
                        {
                            <td>

                                @Html.DisplayFor(i => item.CustomerName)

                            </td>
                        }
                        <td title="Plate number: @item.PlateNumber">
                            @Html.DisplayFor(i => item.VehicleMake) @Html.DisplayFor(i => item.VehicleModel)
                        </td>

                        <td>
                            @Html.DisplayFor(i => item.DateIn) - @Html.DisplayFor(i => item.DateOut)
                        </td>
                        <td>
                            @Html.DisplayFor(i => item.StatusName)
                        </td>

                        <td>
                            @if (User.IsInRole("Employee"))
                            {
                                if (item.DateOut == "No out date assigned yet")
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary" title="Edit"><i class="far fa-edit"></i></a>
                                }
                                else
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary disabled" title="Edit"><i class="far fa-edit"></i></a>
                                }
                            }
                            @if (User.IsInRole("Employee"))
                                if (item.DateOut == "No out date assigned yet")
                                {
                                    <a asp-action="EditServices" asp-route-id="@item.Id" class="btn btn-outline-primary" title="Edit services in visit"><i class="fas fa-tools"></i></a>
                                }
                                else
                                {
                                    <a asp-action="EditServices" asp-route-id="@item.Id" class="btn btn-outline-primary disabled" title="Edit services in visit"><i class="fas fa-tools"></i></a>
                                }
                            @if (User.IsInRole("Employee"))
                            {
                                if (item.Status != 0 ^ item.DateOut != "No out date assigned yet")
                                {
                                    <a asp-action="CheckOut" asp-route-id="@item.Id" class="btn btn-outline-warning disabled" title="CheckOut"><i class="fas fa-door-open"></i></a>
                                }
                                else
                                {
                                    <a asp-action="CheckOut" asp-route-id="@item.Id" class="btn btn-outline-warning" title="CheckOut"><i class="fas fa-door-open"></i></a>
                                }

                            }
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info" title="Details"><i class="fas fa-info-circle"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@{
    var prevDisabled = !Model.PrevPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<a id="prev" href="#" class="btn btn-default @prevDisabled">
    Previous
</a>
@if (Model.TotalPages == 0)
{
    <a>No results</a>
}
else
{
    <a> @Model.Page / @Model.TotalPages</a>
}

<a id="next" href="#" class="btn btn-default @nextDisabled">
    Next
</a>
<input value="@Model.Page" hidden id="pageNum" />


@section Scripts {
    <script src="~/js/SortTable.js"></script>
}