﻿@model SmartGarage.Services.Models.VisitDTO

@{
    Layout = null;
}

<table class="table w-50">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Action               
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody style="height: 150px;overflow: scroll;">
        @foreach (var item in Model.Services)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a asp-controller="Service" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    @item.Price @Model.Currency
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="font-weight-bold"> @Html.DisplayNameFor(model => model.TotalPrice)</td>
            <td></td>
            <td> @Html.DisplayFor(model => model.TotalPrice)  @Model.Currency</td>
        </tr>
    </tfoot>
</table>