﻿@model SmartGarage.Services.Helpers.Pager<UserDTO>
@using SmartGarage.Services.Models;
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="text-center">
        <h1 class="display-4">Customers</h1>
        @if (TempData["Messages"] != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@TempData["Messages"]</p>
            </div>
        }


        <div class="row mb-4 d-flex">
            <div class="col-md-12">
                <div class="form-inline d-flex justify-content-center">
                    <input class="form-control ml-3 mt-3" type="text" id="customerName" name="customerName" placeholder="Name" />
                    <input class="form-control ml-3 mt-3" type="tel" id="customerPhone" name="phone" placeholder="Phone" />
                    <input class="form-control ml-3 mt-3" type="email" id="customerEmail" name="email" placeholder="Email" />
                    <input class="form-control ml-3 mt-3" type="text" id="customerVehicle" name="vehicle" placeholder="Vehicle" />
                    <div class="row">
                        <input id="dateFrom" class="form-control input-sm ml-3 mt-3" name="from" type="date" textmode="Date" placeholder="Date From" />
                        - 
                        <input id="dateTo" class="form-control input-sm ml-3 mt-3" name="to" type="date" textmode="To" placeholder="Date To" />
                        <select id="dateFilter" class="form-control input-sm ml-3 mt-3">
                            <option value="true">Date In</option>
                            <option value="false">Date Out</option>
                        </select>
                        <button id="search" class="btn btn-primary ml-3 mt-3"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-inline d-flex justify-content-lg-start mb-2">
            <select class="form-control input-sm ml-3 mt-3" id="filterBy">
                <option value="def">--- Sort by ---</option>
                <option value="name">Name</option>
                <option value="date">Date</option>
            </select>
            <select class="form-control input-sm ml-3 mt-3" id="order">
                <option value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>
        </div>


        <div id="pagerCustomer">
            <partial name="_CustomersPartialViewPager" model="@Model" />
        </div>

    </div>
</div>

@section Scripts {
 <script src="~/js/CustomerIndex.js"></script>
}
