﻿@model List<VisitDTO>
@using SmartGarage.Services.Models;
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <h1 class="text-center">All visits</h1>
    <form asp-action="SendPdf">
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Vehicle
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {

                    <tr>
                        <td>
                            @Model[i].DateIn - @Model[i].DateOut
                        </td>
                        <td>
                            @Model[i].PlateNumber
                        </td>
                        <td>
                            @Model[i].TotalPrice
                        </td>
                        <td>

                            @Html.CheckBoxFor(x => x[i].ToSend)
                            <input asp-for="@Model[i].Id" value="@Model[i].Id" type="hidden" />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <input type="submit" value="Send PDF" class="btn btn-outline-success" />
    </form>
</div>