﻿@model SmartGarage.Web.Models.AddVisitToCustomerViewModel

@using SmartGarage.Services.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tbody {
        flex: 1 1 auto;
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }

    tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
</style>
<div class="container">
    <h1>Add</h1>

    <h4>Visit</h4>
    <hr />
    @if (TempData["Messages"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <p>@TempData["Messages"]</p>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddVisitToCustomer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    <input class="form-control" disabled value="@Model.CustomerName" />
                </div>
                <div class="form-group">
                    <label asp-for="VehicleId" class="control-label">Vehicle</label>
                    <select asp-for="VehicleId" class="form-control select2" asp-items="Model.Vehicles.ToSelectListItem()"></select>
                    <span asp-validation-for="VehicleId" class="text-danger" id="makeSpan"></span>
                </div>
                <h5>Services</h5>
                <hr />
                <div class="form-group">
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th class="text-center">
                                    <i class="far fa-check-square"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody style="height: 250px;overflow: scroll;">
                            @for (int i = 0; i < Model.Services.Count; i++)
                            {

                                <tr>
                                    <td>
                                        @Model.Services[i].Name
                                    </td>
                                    <td>
                                        @Model.Services[i].Price
                                    </td>
                                    <td class="text-center">

                                        @Html.CheckBoxFor(x => x.Services[i].AddToVisit)
                                        <input asp-for="Services[i].Id" value="@Model.Services[i].Id" type="hidden" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Visit" class="btn btn-primary" />
                </div>
                <a asp-controller="Customers" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>