﻿@model SmartGarage.Services.Models.VisitDTO
@using SmartGarage.Data.Models.Enums
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    @if (TempData["Messages"] != null)
    {

        <div class="alert alert-danger" role="alert">
            <p>@TempData["Messages"]</p>
        </div>
    }
    <h1>Check out</h1>

    <h3>Are you sure you want to check out?</h3>
    <div>
        <h4>Visit</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlateNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlateNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VehicleModel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehicleModel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StatusName)
            </dd>
        </dl>

        <form asp-route-id="@Model.Id" asp-action="CheckOut" method="post">
            <input type="submit" value="Check out" class="btn btn-outline-warning" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>