﻿@model SmartGarage.Web.Models.CreateVisitNotRegisterdCustomer
@using SmartGarage.Services.Models
@using SmartGarage.Services.Extensions
@using SmartGarage.Data.Models.Enums
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tbody {
        flex: 1 1 auto;
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }

    tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
</style>

<div class="container">

    <h1>Create</h1>

    <h4>Visit</h4>
    <hr />
    @if (TempData["Messages"] != null)
    {

        <div class="alert alert-danger" role="alert">
            <p>@TempData["Messages"]</p>
        </div>
    }
    <form asp-action="Create">

        <div class="row">
            <div class="col-md-6">
                <h5>Customer</h5>
                <hr />
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">Phone</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <hr />
                <h5>Services</h5>
                <div class="form-group">
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Price
                                </th>
                                <th class="text-center">
                                    <i class="far fa-check-square"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody style="height: 250px;overflow: scroll;">
                            @for (int i = 0; i < Model.Services.Count; i++)
                            {

                                <tr>
                                    <td>
                                        @Model.Services[i].Name
                                    </td>
                                    <td>
                                        @Model.Services[i].Price
                                    </td>
                                    <td class="text-center">

                                        @Html.CheckBoxFor(x => x.Services[i].AddToVisit)
                                        <input asp-for="Services[i].Id" value="@Model.Services[i].Id" type="hidden" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Vehicle</h5>
                <hr />
                <div class="form-group">
                    <label asp-for="PlateNumber" class="control-label">Plate Number</label>
                    <input asp-for="PlateNumber" class="form-control" />
                    <span asp-validation-for="PlateNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdentityNumber" class="control-label">Identity Number</label>
                    <input asp-for="IdentityNumber" class="form-control" />
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Type</label>
                    <select asp-for="Type" class="form-control select2" asp-items="Html.GetEnumSelectList<VehicleTypes>()"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ManufacturerId" class="control-label">Manufacturer</label>
                    <select asp-for="ManufacturerId" class="form-control select2" asp-items="Model.Manufacturers.ToSelectListItem()" id="Make"></select>
                    <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                    <a href="#" class="btn-link" id="newMake">Add new</a>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleModelId" class="control-label">Model</label>
                    <select asp-for="VehicleModelId" class="form-control select2" asp-items="Model.Models.ToSelectListItem()" id="Model"></select>
                    <span asp-validation-for="VehicleModelId" class="text-danger"></span>
                    <a href="#" class="btn-link" id="newModel">Add new</a>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    </form>
    <div class="modal" tabindex="-1" role="dialog" id="form-modal-make">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button id="makeClose" type="submit" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body p-0 w-100">
                    <partial name="_CreatePopUpPartial" model="new ManufacturerDTO()" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="form-modal-model">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button id="modelClose" type="submit" class="close" data-dismiss="modal" aria-label="Close"></button>
                    <span aria-hidden="true">&times;</span>
                </div>
                <div class="modal-body p-0 w-100">
                    <partial name="_CreatePopUpModel" model="new VehicleModelDTO()" />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $(document).ready(function () {
            var MakeDDL = $("#Make");
            var ModelDDL = $("#Model");
            ModelDDL.prop('disabled', true);

            MakeDDL.change(function () {
                if ($(this).val() == "0") {
                    ModelDDL.prop('disabled', true);
                    ModelDDL.val("0");
                }
                else {
                    $.ajax({
                        url: '/Vehicles/Manufacturermodels/' + $(this).val(),
                        method: "get",
                        headers: {
                            'RequestVerificationToken': '@AntiForgery.GetAndStoreTokens(Context).RequestToken'
                        },
                        success: function (data) {
                            ModelDDL.prop('disabled', false);
                            ModelDDL.empty();
                            ModelDDL.append($('<option/>', { value: '0', text: '--Select Model--' }));
                            $(data).each(function (index, item) {
                                ModelDDL.append($('<option/>', { value: item.id, text: item.name }));
                            });
                        }
                    });
                }
            });

        });

        $(document).on("click", "#newMake",
            function (res) {
                $("#form-modal-make").modal();
            });


        $(document).ready(function () {
            $('#newModel').hide();
            $('#Make').change(function () {
                if ($('#Make').val() == "0") {

                    $('#newModel').hide();
                }
                else {
                    $('#newModel').show();
                    $(document).on("click", "#newModel",
                        function (res) {
                            $("#form-modal-model").modal();
                        });
                }
            });
        });

        $(document).on("click", "#createButton", function () {
            var val = $('#name').val();
            $.ajax({
                url: "/Manufacturers/CreatePopUp",
                type: "GET",
                data: { name: val }
            })
                .done(function (partialViewForMessage) {
                    $("#messgePartial").html(partialViewForMessage);
                });
        });

        $(document).on("click", "#createModelButton", function () {
            var val = $('#Modelname').val();
            $.ajax({
                url: "/Models/CreatePoPModel",
                type: "GET",
                data: { name: val, manName: $("#Make").val() }
            })
                .done(function (partialViewForMessage) {
                    $("#messgePartialModel").html(partialViewForMessage);
                });
        });

        $(document).on("click", "#makeClose", function () {
                $.ajax({
                    url: "/Vehicles/RefreshManufacturers",
                    type: "GET",
                    headers: {
                        'RequestVerificationToken': '@AntiForgery.GetAndStoreTokens(Context).RequestToken'
                    },
                    success: function (data) {
                        $("#Make").empty();
                        $("#Make").append($('<option/>', { value: '0', text: '--Select Model--' }));
                        $(data).each(function (index, item) {
                            $("#Make").append($('<option/>', { value: item.id, text: item.name }));
                        });
                    }
                });
            });

        $(document).on("click", "#modelClose", function () {
                $.ajax({
                    url: "/Vehicles/ManModels",
                    method: "GET",
                    data: { name: $("#Make").val() },
                        headers: {
                            'RequestVerificationToken': '@AntiForgery.GetAndStoreTokens(Context).RequestToken'
                        },
                        success: function (data) {
                            $("#Model").prop('disabled', false);
                            $("#Model").empty();
                            $("#Model").append($('<option/>', { value: '0', text: '--Select Model--' }));
                            $(data).each(function (index, item) {
                                $("#Model").append($('<option/>', { value: item.id, text: item.name }));
                            });
                        }
                    });
            });

</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $('.select2').select2();
    </script>
}


