﻿@model SmartGarage.Web.Models.EditServicesInVisitViewModel
@using SmartGarage.Data.Models.Enums

@{
    ViewData["Title"] = "EditServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    @if (TempData["Messages"] != null)
{
    <div class="alert alert-success" role="alert">
        <p>@TempData["Messages"]</p>
    </div>
}
    <h1>Add Service to visit</h1>
    <h4>Visit</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h5>Services added to visit</h5>
            <form asp-action="EditServices">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Services.Count; i++)
                        {

                        <tr>
                            <td>
                                @Model.Services[i].Name
                            </td>
                            <td>
                                @Model.Services[i].Price
                            </td>
                            <td>

                                @Html.CheckBoxFor(x => x.Services[i].AddToVisit)
                                <input asp-for="Services[i].Id" value="@Model.Services[i].Id" type="hidden" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group text-right">
                    @if(Model.Services.Count == 0)
                    {
                    <input type="submit" value="Delete Service" disabled class="btn btn-danger" />
                    }
                    else
                    {
                    <input type="submit" value="Delete Service" class="btn btn-danger" />
                    }
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h5>Available services to add</h5>
            <form asp-action="EditServices">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ServicesToAdd.Count; i++)
                        {

                        <tr>
                            <td>
                                @Model.ServicesToAdd[i].Name
                            </td>
                            <td>
                                @Model.ServicesToAdd[i].Price
                            </td>
                            <td>
                                @Html.CheckBoxFor(x => x.ServicesToAdd[i].AddToVisit)
                                <input asp-for="ServicesToAdd[i].Id" value="@Model.ServicesToAdd[i].Id" type="hidden" />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <div class="form-group text-right">
                    @if(Model.ServicesToAdd.Count == 0)
                    {
                    <input type="submit" disabled value="Add Service" class="btn btn-success" />
                    }
                    else
                    {
                    <input type="submit" value="Add Service" class="btn btn-success" />
                    }
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>
