﻿@model SmartGarage.Services.Helpers.Pager<VisitDTO>
@using SmartGarage.Services.Models;
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Visits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th:hover {
        cursor: pointer;
    }
</style>


<div class="container mt-3">
    @if (TempData["Messages"] != null)
    {
        <div class="alert alert-success" role="alert">
            <p>@TempData["Messages"]</p>
        </div>
    }
    <div class="text-center">
        <div class="row d-inline-flex m-3">
            <h1 class="display-4 justify-content-center">Visits</h1>
        </div>
        <div class="row mb-4 d-flex">
            <div class="col-md-12">
                <div class="form-inline d-flex justify-content-center">
                    <input class="form-control ml-3 mt-3" type="text" id="customerVehicle" name="vehicle" placeholder="Vehicle" />
                    <input id="dateFrom" class="form-control input-sm ml-3 mt-3" name="from" type="date" textmode="Date" placeholder="DateFrom" />
                    <input id="dateTo" class="form-control input-sm ml-3 mt-3" name="to" type="date" textmode="To" placeholder="DateTo" />
                    <select id="dateFilter" class="form-control input-sm ml-3 mt-3">
                        <option value="true">Date In</option>
                        <option value="false">Date Out</option>
                    </select>
                    <button id="search" class="btn btn-primary ml-3 mt-3"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="form-inline d-flex justify-content-lg-start mb-2">
            <select class="form-control input-sm ml-3 mt-3" id="checked">
                <option>All</option>
                <option value="CheckedOut">Checked Out</option>
                <option value="NotCheckedOut">Ongoing</option>
            </select>
        </div>
        <div id="partialView">
            <partial name="_PartialViewVisitPager" model="@Model" />
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/js/VisitsIndex.js"></script>
    <script src="~/js/SortTable.js"></script>
}