﻿@model SmartGarage.Services.Helpers.Pager<ServiceDTO>
@using SmartGarage.Services.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="text-center">
        <h1 class="display-4">Services</h1>
        @if (TempData["Messages"] != null)
        {
            <div class="alert alert-success" role="alert">
                <p>@TempData["Messages"]</p>
            </div>
        }
        <div class="row mb-4 d-flex">
            <div class="col-md-12">
                <div class="form-inline d-flex justify-content-center">
                    <input class="form-control ml-3" type="text" id="name" placeholder="Name" />
                    <input class="form-control ml-3" id="priceFrom" textmode="Price" placeholder="Min Price" />
                    <input class="form-control ml-3" id="priceTo" textmode="Price" placeholder="Max Price" />
                    <input type="button" id="searchServices" value="Search" class="btn btn-primary ml-3" />
                </div>
            </div>
        </div>
        <div id="servicesPager">
            <partial name="_PartialViewServicesPager" model="@Model" />
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on("click", "#searchServices", function () {              
                $.ajax({
                    url: "/Services/ServicePager",
                    type: "GET",
                    data: {
                        name: $('#name').val(),
                        priceFrom: $('#priceFrom').val(),
                        priceTo: $('#priceTo').val()
                    }
                })
                    .done(function (partialViewResult) {
                        $("#servicesPager").html(partialViewResult);
                    });
            });

            $(document).on("click", "#next", function () {
                $.ajax({
                    url: "/Services/ServicePager",
                    type: "GET",
                    data: {
                        name: $('#name').val(),
                        priceFrom: $('#priceFrom').val(),
                        priceTo: $('#priceTo').val(),
                        pageNum: parseInt($('#pageNumber').val()) + 1
                    }
                })
                    .done(function (partialViewResult) {
                        $("#servicesPager").html(partialViewResult);
                    });
            });
            $(document).on("click", "#prev", function () {
                $.ajax({
                    url: "/Services/ServicePager",
                    type: "GET",
                    data: {
                        name: $('#name').val(),
                        priceFrom: $('#priceFrom').val(),
                        priceTo: $('#priceTo').val(),
                        pageNum: parseInt($('#pageNumber').val()) - 1
                    }
                })
                    .done(function (partialViewResult) {
                        $("#servicesPager").html(partialViewResult);
                    });
            });
        });
    </script>
}