﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .circleImg {
        position: relative;
        width: 50%;
    }

    .imageNav {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .circleImg:hover .imageNav {
        opacity: 0.3;
    }

    .circleImg:hover .middle {
        opacity: 1;
    }
</style>
<div class="bg-dark">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="opacity:0.5" class="d-block w-100" src="https://i.ibb.co/zZ8NT9j/garage-3.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-xl-left">The Best Care for your vehicle</h1>
                    <p class="text-left">
                        At SmartGarage, we pride ourselves with professionalism and punctuality. Our team of experts guarantees that all repairs are done within a week of initial evaluation.
                        Bring your vehicle in for a free evaluation tomorrow and you are guaranteed to receive the best care in town!
                    </p>
                    <button id="goBot" class="btn btn-lg btn-outline-light font-weight-bold">Contact us</button>
                </div>
            </div>
            <div class="carousel-item">
                <img style="opacity:0.5" class="d-block w-100" src="https://i.ibb.co/Gc1MyDd/garage-2.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-xl-left">Explore our range of accessories</h1>
                    <p class="text-left">
                        To ensure the longevity of the vehicles under our care, we at SmartGarage use the best quality products available. Explore our services section for more information!
                    </p>
                    <button id="goBot" class="btn btn-lg btn-outline-light font-weight-bold">Contact us</button>
                </div>
            </div>
            <div class="carousel-item">
                <img style="opacity:0.5" class="d-block w-100" src="https://i.ibb.co/jz0dcqX/garage-1.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="text-xl-left">Register Now!</h1>
                    <p class="text-left">
                        Do not dawdle, register now and book a visit with a free complimentary evaluation!
                    </p>
                    <button id="goBot" class="btn btn-lg btn-outline-light font-weight-bold">Contact us</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <hr />
    <h2 style="text-align:center">What is SmartGarage?</h2>
    <hr />
    <p class="mt-5" style="text-align:center">
        Established in 2021, by co-founders Ivaylo and Dimitar, SmartGarage is the realisation of a lifelong dream: to establish a highly functional, well respected vehicle repair shop. Our work ethic is based upon three predicates.
        First, we believe in the power of customer service. Thus we strive to provide every client with the care and attention that they deserve. This creates happy customers and in the long run establishes a loyal customer base.
        Second, no repair shop is complete without its team of experts. We have hired only the best mechanics, and led by our chief Smart Expert Ivan, our team is capable of completing any repair within a week. Don't think that
        this is an estimate, here at SmartGarage we guarantee that any repair is completed within a week! Finally, we believe in seeing the workplace and our colleagues as family, this is why at SmartGarage every client can experience
        a relaxed professional environment where they can rely on 100% transparency from our team. We look forward to seeing you at SmartGarage very soon!
    </p>
</div>
<div class="bg-dark p-3">
    <div class="container text-center pt-4 pb-4">
        <h1 class="text-light mb-3">The SmartGarage Team</h1>
        <hr class="text-light" />
        <div class="row text-light">
            <div class="col-md-4">
                <img src="https://i.ibb.co/wrcVybd/ivaka.jpg" class="rounded-circle mb-2" width="150" height="150" />
                <h3 class="mb-2">Ivaylo Zhelyazkov</h3>
                <h5 class="font-italic">Manager</h5>
                <p class="font-italic text-white">
                    Ivaylo's extensive experience in the hospitality industry made him the natural choice for a leader of the SmartGarage familiy.
                    His positive outlook on life and can-do attitude makes him a pleasure to be around. He is at SmartGarage daily, ready to answer any concerns that our clients might have.
                </p>
            </div>
            <div class="col-md-4">
                <img src="https://i.ibb.co/0jqhZNB/Donev-Dimitar.jpg" class="rounded-circle mb-2" width="165" height="150" />
                <h3 class="mb-2">Dimitar Donev</h3>
                <h5 class="font-italic">Customer support</h5>
                <p class="font-italic text-white">
                    Dimitar is a hard-working and relaxed individual, who has extensive experience in coordinating people. His goal at SmartGarage is to make every client feel the attention and care
                    they deserve. Find Dimitar at SmartGarage daily or contact him directly.
                </p>
            </div>
            <div class="col-md-4">
                <img src="https://i.ibb.co/Vj1KM4b/600-01633154-Jason-Molyneaux-Model-Release-Yes-Property-Release-No-Model-Release-Portrait-of-Mechani.jpg" class="rounded-circle mb-2" width="165" height="150" />
                <h3 class="mb-2">Ivan Ivanov</h3>
                <h5 class="font-italic">Chief Mechanic</h5>
                <p class="font-italic text-white">
                    With more than 40 years of experience, Ivan Ivanov, or Bai Ivan as we lovingly call him, is one of the most experienced vehicle repair engineers out there. Even after all this time, he has not lost
                    his passion nor his humor. Find Bai Ivan daily at SmartGarage, he is not hard to miss, just follow his jolly laugher, it cannot be mistaken.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <hr />
    <div class="text-center">
        <div class="row">
            <div class="col-md-6 p-3">
                <img src="~/icons/award.svg" class="mb-3" width="50" height="50">
                <div class="alert alert-info p-3">
                    SmartGarage has repeatedly won awards for best service and treatment of its customers.
                    We pride ourselves with the work we do for our community. Last year, we held multiple
                    fundraisers for childern in need and managed to gather enough money to renovate 
                    the libraries of 2 local schools.
                </div>
            </div>
            <div class="col-md-6 p-3">
                <img src="~/icons/chat-left-dots.svg" class="mb-3" width="50" height="50">
                <div class="alert alert-info p-3">
                    Our experts are not only there to fix your vehicle. They are always happy
                    to share their extensive experience and teach you how to better take care of your
                    vehicle. Do not hesitate to stop for a cup of coffee and chat with our staff
                    about any issues that you might be experiencing when taking care of your vehicle.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-3">
                <img src="~/icons/clipboard-check.svg" class="mb-3" width="50" height="50">
                <div class="alert alert-info p-3">
                    Our resident expert Bai Ivan has developed a comprehensive checklist that every
                    car needs to go through upon inspection. You wouldn't belive the things other 
                    repair shops miss when inspections are rushed and incomplete. We have saved
                    many a vehicle under the watchful, diligent eye of Bai Ivan. Visit us to get 
                    your own copy of our checklist, which you can reference if you ever need a 
                    comprehensive check of the functionality of your vehicle.
                </div>
            </div>
            <div class="col-md-6 p-3">
                <img src="~/icons/gear.svg" class="mb-3" width="50" height="50">
                <div class="alert alert-info p-3">
                    If you are ever unsure about which part you may need for your vehicle, just 
                    write us a quick message with your query. Our access to spare part providers
                    (both new and second hand) combined with years of experience will guarantee 
                    that we suggest the best and most affordable parts for your vehicle! 
                    Contact us below!
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
<div class="text-center m-lg-5 p-3">
    <div class="row">
        <div class="col-md-4 circleImg">
            <a asp-controller="Home" asp-action="ContactUs">
                <img src="https://i.ibb.co/cxPsMcd/pngtree-women-contact-support-flat-illustration-vector-png-image-2269867.jpg"
                     class="imageNav rounded-circle" width="300" height="300"
                     alt="pngtree-women-contact-support-flat-illustration-vector-png-image-2269867" border="0">

                <div class="middle">
                    <h1 class="text-black-50">Contacts Us</h1>

                </div>
            </a>

        </div>
        <div class="col-md-4 circleImg">
            <a id="backToTop" href="#">
                <img src="https://i.ibb.co/FH0KRhy/Arrow-icon-svg.png"
                     class="imageNav rounded-circle" width="300" height="300"
                     alt="32af2e1ded046ac3968ecda3e3ec8300" border="0">
                <div class="middle">
                    <h1 class="text-black-50">Back To Top</h1>
                </div>
            </a>
        </div>
        <div class="col-md-4 circleImg">
            <a asp-controller="Home" asp-action="Location">
                <img src="https://i.ibb.co/GQsZc6j/gps-map-with-pin-illustration-free-vector.jpg"
                     class="imageNav rounded-circle" width="300" height="300"
                     alt="gps-map-with-pin-illustration-free-vector" border="0">
                <div class="middle">
                    <h1 class="text-black-50">Navigation</h1>
                </div>
            </a>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).on("click", "#backToTop", function () {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });
        $(document).on("click", "#goBot", function () {
            window.scrollTo(0, document.body.scrollHeight);
        });
    </script>
    
}