﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <img src="https://i.ibb.co/S59mgw4/depositphotos-42112585-stock-illustration-car-crash.jpg" alt="page not found" border="0">
    <h1 class="mt-3">404</h1>
    <h1>Page not found</h1>
</div>