﻿@model SmartGarage.Web.Models.VehicleViewModel
@using SmartGarage.Services.Models
@using SmartGarage.Services.Extensions
@using SmartGarage.Data.Models.Enums
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">

    <h1>Create</h1>

    <h4>Vehicle</h4>
    <hr />
    @if (TempData["Messages"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <p>@TempData["Messages"]</p>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    <input id="customerName" class="form-control" disabled value="@Model.CustomerName" />
                </div>
                <div class="form-group">
                    <label asp-for="PlateNumber" class="control-label">Plate Number</label>
                    <input id="plateNumber" asp-for="PlateNumber" class="form-control" />
                    <span asp-validation-for="PlateNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdentityNumber" class="control-label">Identity Number</label>
                    <input id="identityNumber" asp-for="IdentityNumber" class="form-control" />
                    <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Type</label>
                    <select asp-for="Type" class="form-control select2" asp-items="Html.GetEnumSelectList<VehicleTypes>()"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ManufacturerId" class="control-label">Manufacturer</label>
                    <select asp-for="ManufacturerId" class="form-control select2" asp-items="Model.Manufacturers.ToSelectListItem()" id="Make"></select>
                    <span asp-validation-for="ManufacturerId" class="text-danger" id="makeSpan"></span>
                    <a href="#" class="btn-link" id="newMake">Add new</a>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleModelId" class="control-label">Model</label>
                    <select asp-for="VehicleModelId" class="form-control select2" asp-items="Model.Models.ToSelectListItem()" id="Model"></select>
                    <span asp-validation-for="VehicleModelId" class="text-danger"></span>
                    <a href="#" class="btn-link" id="newModel">Add new</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <a asp-controller="Customers" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="form-modal-make">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <h5 class="modal-title"></h5>

                <button id="makeClose" type="submit" class="close" data-dismiss="modal" aria-label="Close"></button>

                <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body p-0 w-100">
                <partial name="_CreatePopUpPartial" model="new ManufacturerDTO()" />
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="form-modal-model">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>

                <button id="modelClose" type="submit" class="close" data-dismiss="modal" aria-label="Close"></button>

                <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body p-0 w-100">
                <partial name="_CreatePopUpModel" model="new VehicleModelDTO()" />
            </div>
        </div>
    </div>
</div>
<input hidden id="customerId" value="@Model.CustomerId" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>

    $(document).on("click", "#newMake",
            function (res) {
                $("#form-modal-make").modal();
            });


        $(document).ready(function () {
            $('#newModel').hide();
            $('#Make').change(function () {
                if ($('#Make').val() == "0") {

                    $('#newModel').hide();
                }
                else {
                    $('#newModel').show();
                    $(document).on("click", "#newModel",
                        function (res) {
                            $("#form-modal-model").modal();
                        });
                }
            });
        });

        $(document).ready(function () {
            var MakeDDL = $("#Make");
            var ModelDDL = $("#Model");
            ModelDDL.prop('disabled', true);

            MakeDDL.change(function () {
                if ($(this).val() == "0") {
                    ModelDDL.prop('disabled', true);
                    ModelDDL.val("0");
                }
                else {
                    $.ajax({
                        url: '/Vehicles/Manufacturermodels/' + $(this).val(),
                        method: "get",
                        headers: {
                            'RequestVerificationToken': '@AntiForgery.GetAndStoreTokens(Context).RequestToken'
                        },
                        success: function (data) {
                            ModelDDL.prop('disabled', false);
                            ModelDDL.empty();
                            ModelDDL.append($('<option/>', { value: '0', text: '--Select Model--' }));
                            $(data).each(function (index, item) {
                                ModelDDL.append($('<option/>', { value: item.id, text: item.name }));
                            });
                        }
                    });
                }
            });

        });

        $(document).on("click", "#createButton", function () {
            var val = $('#name').val();
            $.ajax({
                url: "/Manufacturers/CreatePopUp",
                type: "GET",
                data: { name: val }
            })
                .done(function (partialViewForMessage) {
                    $("#messgePartial").html(partialViewForMessage);
                });
        });

        $(document).on("click", "#createModelButton", function () {
            var val = $('#Modelname').val();
            $.ajax({
                url: "/Models/CreatePoPModel",
                type: "GET",
                data: { name: val, manName: $("#Make").val() }
            })
                .done(function (partialViewForMessage) {
                    $("#messgePartialModel").html(partialViewForMessage);
                });
        });

        $(document).on("click", "#makeClose", function () {
                $.ajax({
                    url: "/Vehicles/RefreshManufacturers",
                    type: "GET",
                    headers: {
                        'RequestVerificationToken': '@AntiForgery.GetAndStoreTokens(Context).RequestToken'
                    },
                    success: function (data) {
                        $("#Make").empty();
                        $("#Make").append($('<option/>', { value: '0', text: '--Select Model--' }));
                        $(data).each(function (index, item) {
                            $("#Make").append($('<option/>', { value: item.id, text: item.name }));
                        });
                    }
                });
            });

        $(document).on("click", "#modelClose", function () {
                $.ajax({
                    url: "/Vehicles/ManModels",
                    method: "GET",
                    data: { name: $("#Make").val() },
                        headers: {
                            'RequestVerificationToken': '@AntiForgery.GetAndStoreTokens(Context).RequestToken'
                        },
                        success: function (data) {
                            $("#Model").prop('disabled', false);
                            $("#Model").empty();
                            $("#Model").append($('<option/>', { value: '0', text: '--Select Model--' }));
                            $(data).each(function (index, item) {
                                $("#Model").append($('<option/>', { value: item.id, text: item.name }));
                            });
                        }
                    });
            });

    </script>
    <script>
        $('.select2').select2();
    </script>
}


