﻿@model SmartGarage.Services.Models.ManufacturerDTO
@using SmartGarage.Web.Models
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    <h1>Create</h1>

    <h4>Manufacturer</h4>
    <hr />
    <div class="row">
        <div class="col-12">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Manufacturer</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


